# Zależności
node_modules

# Pliki środowiskowe
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Katalogi i pliki budowy
dist
build
out

# Pliki dzienników
*.log
*.out

# Pliki edytorów i systemów IDE
.idea
.vscode
*.swp
*.swo

# Pliki tymczasowe
tmp
.temp

# Inne pliki i katalogi, które mogą zawierać wrażliwe dane lub nie są potrzebne w repozytorium
.DS_Store
Thumbs.db
npm-debug.log*
yarn-error.log*
